name: GitHub-Profile-Summary-Cards

on:
  # Schedule updates (each hour)
  schedule:
    - cron: "0 12 * * *"
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Generate the user stats image
        uses: cicirello/user-statistician@v1
        env:
          GITHUB_TOKEN: ${{secrets.METRICS_TOKEN}}
